<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--
		<add key="ConnectionType" value="Serial"/>
        <add key="ConnectionSettingsFile" value="SerialLink.config"/>
		-->
		<add key="EnableTick" value="False"/>
		<add key="EnableAlarm" value="True"/>
	</appSettings>
</configuration>